@import "tailwindcss";
@plugin "daisyui"; 

@theme{
  --color-header: oklch(0.72 0.19 160);
  --color-title: oklch(0.65 0 0);
  --color-main: #FFFFFF;
  --color-card: oklch(0.16 0 0);

  --text-heading: 30px;
  --text-subheading: 22px;
  --text-paragraph: 17px;
  --text-small: 15px;
}
