@import "tailwindcss";
@plugin "daisyui"; 

@theme{
  --color-header: #008000;
  --color-title: #ADADAD;
  --color-main: #FFFFFF;
  --color-card: #0f0f0f;

  --text-heading: 30px;
  --text-subheading: 22px;
  --text-paragraph: 17px;
  --text-small: 15px;
}
