@import "tailwindcss";

@theme{
  --color-header: #008000;
  --color-title: #CFCFCF;
  --color-main: #E7E7E7;

  --text-heading: 30px;
  --text-subheading: 22px;
  --text-paragraph: 17px;
  --text-small: 15px;
}
